{% load static from staticfiles %}
<html>
<head>
	<title>Reshaping India : Signup</title>
	<script type="text/javascript"  src="{% static 'js/jquery-1.5.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/signup.js' %}"></script>
	<link type="text/css" rel="stylesheet" href="{% static 'css/signup.css' %}" />
</head>
<body>
	<div class="wrapper">
		<div class="form">
			<form action ="" method="post">
			<h2>Join Reshaping India</h2>
			<div class="tb">
				<table>
					<tr><td>Display Name </td>
						<td><div class="in d"><input type="text" name="disnam" placeholder="Name shown in your profile" /></div></td></tr><tr ><td><br /></td></tr>

					<tr><td>Email Address</td><td>
						<div class="in l"><input type="text" name="email" placeholder="Contact Email" /></div></td></tr><tr ><td><br /></td></tr>

					<tr><td>Password</td><td>
						<div class="in p"><input type="password" name="password" placeholder="Choose your password" /></div></td></tr><tr ><td><br /></td></tr>

					<tr><td>Confirm Password </td><td>
						<div class="in i"><input type="password" name="cnfpassword" placeholder="Type password again" /></div></td></tr><tr ><td><br /></td></tr>
					<tr ><td><br /></td></tr>
					<tr><td colspan="3" align="center"><div class="sub" ><input type="submit" name="submit" value="Join Us" /></div></td></tr>
				</table>
			</div>
			</form>
		</div>
	</div>
</body>
</html>